.navbar {
  background-color: #343a40; /* Dark background */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-item .btn {
  border: none;
  background: none;
  color: #f8f9fa;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-item .btn:hover {
  color: #343a40;
  background-color: #f8f9fa;
}

.navbar-toggler {
  border: none;
}
